// 1 - Link partials
@use './variables';
// 2 - Font activation
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
	src: url('../assets/fonts/AvenirNextLTPro-Regular.otf') format('otf');
    src: url('../assets/fonts/AvenirNextLTPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'AvenirNextLTPro-Demi';
	src: url('../assets/fonts/AvenirNextLTPro-Demi.otf') format('otf');
    src: url('../assets/fonts/AvenirNextLTProDemi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextLTPro-Bold';
	src: url('../assets/fonts/AvenirNextLTPro-Bold.otf') format('otf');
    src: url('../assets/fonts/AvenirNextLTProBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'AvenirNextLTPro-Regular', 'AvenirNextLTPro-Demi', 'AvenirNextLTPro-Bold';
}
// 3 - Create mixins
@mixin flexColumn () {
    display: flex;
    flex-direction: column;
}
@mixin noDecoration () {
    text-decoration: none;
    list-style: none;
}
// 4 - Default Font Sizing
.hero__title {
    font-size: 24px;
    line-height: 32px;
    @media (min-width: 768px) {
        font-size: 60px;
        line-height: 68px;
    }
}
.logo {
    font-size: 32px;
    line-height: 32px;
    @media (min-width: 768px) {
        padding-left: 50px;
        padding-bottom: 24px;
    }
    @media (min-width: 1280px) {
        margin-left: 10vw;
    }
}
h1 {
    font-size: 24px;
    line-height: 32px;
    @media (min-width: 768px) {
        font-size: 36px;
        line-height: 44px;
    }    
}
h2 {
    font-size: 14px;
    line-height: 22px;
    @media (min-width: 768px) {
        font-size: 24px;
        line-height: 32px;
    }
}
main {
    font-size: 14px;
    line-height: 18px;
    @media (min-width: 768px) {
        font-size: 14px;
        line-height: 22px;
    }
}
footer {
    font-size: 13px;
    line-height: 18px;
    @media (min-width: 768px) {
        font-size: 14px;
        line-height: 20px;
    }
}
button {
    border: none;
	padding: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    width: 100%;
    height: 40px;
    background-color: variables.$colorBlack;
    color: variables.$colorWhite;
    border-radius: 4px;
    @media (min-width: 768px) {
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        width: 150px;
        padding-left: 32px;
        padding-right: 32px;
    }
}
button:hover {
    background-color: variables.$colorDarkBlack;
}
// 5 - Style Navigation Bar
.nav__bar__container {
    @include flexColumn ();
    background-color: variables.$colorBlack;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 24px;
        @media (min-width: 768px) {
            padding-right: 5%;
            padding-top: 32px;
        }
        @media (min-width: 1280px) {
            margin-left: 5vw;
        }
        &--link {
            display: flex;
            @include noDecoration();
            color: variables.$colorWhite;
        }
    }
}
.nav__bar {
    &__list {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        margin-bottom: 0;
        @media (min-width: 768px) {
            align-items: center;
        }
        @include noDecoration();
        &-item {
            display: flex;
            justify-content: center;
            width: 50%;
            padding-bottom: 10px;
            @media (min-width: 768px) {
                width: auto;
                padding-bottom: 25px;
                margin-right: 50px;
            }

            &--link {
                @include noDecoration();
                color: variables.$colorSilver;
            }
        }
        
        &-item:hover {
            display: flex;
            justify-content: center;
            width: 50%;
            padding-bottom: 10px;
            border-bottom: 2px solid variables.$colorWhite;
            @media (min-width: 768px) {
                width: auto;
                padding-bottom: 25px;
                margin-right: 50px;
                color: variables.$colorWhite;      
            }
        }
    }
}
.nav__bar__list-item:hover .nav__bar__list-item--link {
    @include noDecoration();
    color: variables.$colorWhite
}
.active {
    color: variables.$colorWhite;
    font-weight: bold;
}
#active {  
    border-bottom: 2px solid variables.$colorWhite;
}
// 6 - Style Footer
.footer {
    background-color: variables.$colorBlack;
    color:variables.$colorWhite;
    &__container {
        @media (min-width: 768px) {
            padding-left: 36px;
            padding-right: 36px;
        } 
        @media (min-width: 1280px) {
            padding-left: 0;
            padding-right: 0;
            margin-left: 10vw;
            margin-right: 10vw;
        }
    }
    &__title {
        padding-left: 16px;
        padding-right: 16px;
        @media (min-width: 768px) {
            display:flex;
            justify-content: space-between;
        }
        @media (min-width: 1280px) {
            display:flex;
            justify-content: flex-start;
        }
        &__text {
            padding-top: 32px;
            padding-right: 36px;
            margin-top: auto;
            @media (min-width: 1280px) {
                padding-right: 105px;
            }
        }
        &__icon {
            display: flex;
            align-items: center;
            &-link {
                @include noDecoration();
                color: variables.$colorWhite;
                padding-right: 30px;
                @media (min-width: 768px) {
                    padding-top: 22px;
                }
                &-image {
                    width: 130%;
                    height: auto;
                    padding-bottom: 10px;
                    @media (min-width: 768px) {
                        width: 150%;
                    }
                }
            }
        }
        &__logo {
            @media (min-width: 768px) {
                padding-top: 22px;
            }
        }
    }
    &__main {
        padding-left: 16px;
        padding-right: 16px;
        @media (min-width: 768px) {
            display:flex;
            justify-content: space-between;
        }
        @media (min-width: 1280px) {
            display:flex;
            justify-content: flex-start;
        }
        &__card {
            @media (min-width: 1280px) {
                padding-right: 90px;
            }
            &-text {
                &--link {
                    @include noDecoration();
                    color: variables.$colorWhite;               
                }
            }
        }
    }
    &__end {
        padding-left: 16px;
        padding-right: 16px;
        &__title {
            &--link{
                @include noDecoration();
                color: variables.$colorWhite;
            }
        }
        &__text {
            padding-bottom: 16px;
            margin-bottom: 0;
        }
    }
}
#top {
    display: none;
    @media (min-width: 768px) {    
        display:flex;
        align-items: flex-end;
        padding-left: 110px;
        padding-bottom: 7px;
    }
    @media (min-width: 1280px) {
        padding-left: 19vw;
    }
}
#bottom {
    padding-top: 30px;
    margin-bottom: 0;
    @media (min-width: 768px) {    
        display: none;
    }
}