// Font activation
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
	src: url('../assets/fonts/AvenirNextLTPro-Regular.otf') format('otf');
    src: url('../assets/fonts/AvenirNextLTPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'AvenirNextLTPro-Demi';
	src: url('../assets/fonts/AvenirNextLTPro-Demi.otf') format('otf');
    src: url('../assets/fonts/AvenirNextLTProDemi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro-Bold';
	src: url('../assets/fonts/AvenirNextLTPro-Bold.otf') format('otf');
    src: url('../assets/fonts/AvenirNextLTProBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'AvenirNextLTPro-Regular', 'AvenirNextLTPro-Demi', 'AvenirNextLTPro-Bold';
}

.hero__title {
    // font-family: 'AvenirNextLTPro-Bold';
    font-size: 24px;
    line-height: 32px;
    @media (min-width: 768px) {
        font-size: 60px;
        line-height: 68px;
    }
}
.logo {
    font-size: 32px;
    line-height: 32px;
    @media (min-width: 768px) {
        padding-left: 5%;
        padding-bottom: 24px;
    }
}

h1 {
    // font-family: 'AvenirNextLTPro-Bold';
    font-size: 24px;
    line-height: 32px;
    @media (min-width: 768px) {
        font-size: 36px;
        line-height: 44px;
    }    
}
h2 {
    // font-family: 'AvenirNextLTPro-Demi';
    font-size: 14px;
    line-height: 22px;
    @media (min-width: 768px) {
        font-size: 24px;
        line-height: 32px;
    }
}

main {
    // font-family: 'AvenirNextLTPro-Regular';
    font-size: 14px;
    line-height: 18px;
    @media (min-width: 768px) {
        font-size: 14px;
        line-height: 22px;
    }
}

footer {
    // font-family: 'AvenirNextLTPro-Regular';
    font-size: 13px;
    line-height: 18px;
    @media (min-width: 768px) {
        font-size: 14px;
        line-height: 20px;
    }
}

button {
    // font-family: 'AvenirNextLTPro-Bold';
    font-size: 10px;
    line-height: 20px;
    @media (min-width: 768px) {
        font-size: 12px;
        line-height: 20px;
    }
}


// Creating mixins
@mixin flexColumn () {
    display: flex;
    flex-direction: column;
}

@mixin noDecoration () {
    text-decoration: none;
    list-style: none;
}

// Navigation Styles
.nav__bar__container {
    @include flexColumn ();
    background-color: #323232;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        align-items: flex-end;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 24px;
        // padding-bottom: 16px;
        @media (min-width: 768px) {
            padding-right: 5%;
            padding-top: 32px;
            // align-items: flex-end;
        }
        @media (min-width: 1280px) {
            margin-left: 5vw;
        }
        &--link {
            display: flex;
            @include noDecoration();
            color: #ffffff;
            @media (min-width: 768px) {
                // display: flex;
                // flex-direction: row;
                // justify-content: flex-start;
                // align-items: flex-end;
            }
        }
    }
}

.nav__bar {
    &__list {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        margin-bottom: 0;
        @media (min-width: 768px) {
            align-items: center;
        }
        @include noDecoration();
        &-item {
            display: flex;
            justify-content: center;
            width: 50%;
            padding-bottom: 10px;
            @media (min-width: 768px) {
                width: auto;
                padding-bottom: 25px;
                margin-right: 50px;
            }

            &--link {
                @include noDecoration();
                color: #afafaf
            }
        }
        
        &-item:hover {
            display: flex;
            justify-content: center;
            width: 50%;
            padding-bottom: 10px;
            border-bottom: 2px solid #ffffff;
            @media (min-width: 768px) {
                width: auto;
                padding-bottom: 25px;
                margin-right: 50px;
                color: #ffffff;      
            }
        }
    }
}
.nav__bar__list-item:hover .nav__bar__list-item--link {
    @include noDecoration();
    color: #ffffff
}
.active {
    color: #ffffff;
    font-weight: bold;
}
#active {  
    border-bottom: 2px solid #ffffff;
}



// Footer style
.footer {
    background-color: #323232;
    color:#ffffff;
    &__container {
        @media (min-width: 768px) {
            padding-left: 36px;
            padding-right: 36px;
        } 
        @media (min-width: 1280px) {
            padding-left: 0;
            padding-right: 0;
            margin-left: 10vw;
            margin-right: 10vw;
        } 
    }
    &__title {
        padding-left: 16px;
        padding-right: 16px;
        @media (min-width: 768px) {
            display:flex;
            justify-content: space-between;
        }
        @media (min-width: 1280px) {
            display:flex;
            justify-content: flex-start;
        }
        &__text {
            padding-top: 32px;
            padding-right: 36px;
            margin-top: auto;
            @media (min-width: 1280px) {
                padding-right: 105px;
            }
            
        }
        &__icon {
            display: flex;
            align-items: center;
            &__link {
                @include noDecoration();
                color: #ffffff;
                padding-right: 30px;
                @media (min-width: 768px) {
                    padding-top: 22px;
                }
                &__image {
                    width: 130%;
                    height: auto;
                    padding-bottom: 10px;
                    @media (min-width: 768px) {
                        width: 150%;
                    }
                }
            }
        }
        &__logo {
            @media (min-width: 768px) {
                padding-top: 22px;
            }
            @media (min-width: 1280px) {
 
            }
        }
    }
    &__main {
        padding-left: 16px;
        padding-right: 16px;
        @media (min-width: 768px) {
            display:flex;
            justify-content: space-between;
        }
        @media (min-width: 1280px) {
            display:flex;
            justify-content: flex-start;
        }
        &__card {
            @media (min-width: 1280px) {
                padding-right: 90px;
            }
            &__text {
                &--link {
                    @include noDecoration();
                    color: #ffffff;               
                }
            }
        }
    }
    &__end {
        padding-left: 16px;
        padding-right: 16px;
        &__title {
            &--link{
                @include noDecoration();
                color: #ffffff;
            }
        }


        &__text {
            padding-bottom: 16px;
            margin-bottom: 0;
        }
    }
}

#top {
    display: none;
    @media (min-width: 768px) {    
        display:flex;
        align-items: flex-end;
        padding-left: 110px;
        padding-bottom: 7px;
    }
    @media (min-width: 1280px) {
        padding-left: 26vw;
    }
}

#bottom {
    padding-top: 30px;
    margin-bottom: 0;
    @media (min-width: 768px) {    
        display: none;
    }
}