// 1. Setting Variables for colors
$colorBlack: #323232;
$colorDarkBlack: #000000;
$colorWhite: #ffffff;
$colorSilver: #afafaf;
$colorMercury: #e1e1e1;
$colorAlabaster: #fafafa; 
// 2. Variavle foe Error - Red color
$colorRed: #d22d2d;