@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  src: url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf");
  src: url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  src: url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "AvenirNextLTPro-Regular", "AvenirNextLTPro-Demi", "AvenirNextLTPro-Bold";
}

.hero__title {
  font-size: 24px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 68px;
  }
}

.logo {
  font-size: 32px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .logo {
    padding-left: 50px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1280px) {
  .logo {
    margin-left: 10vw;
  }
}

h1 {
  font-size: 24px;
  line-height: 32px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
}

h2 {
  font-size: 14px;
  line-height: 22px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

main {
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  main {
    font-size: 14px;
    line-height: 22px;
  }
}

footer {
  font-size: 13px;
  line-height: 18px;
}
@media (min-width: 768px) {
  footer {
    font-size: 14px;
    line-height: 20px;
  }
}

button {
  border: none;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  width: 100%;
  height: 40px;
  background-color: #323232;
  color: #ffffff;
  border-radius: 4px;
}
@media (min-width: 768px) {
  button {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    width: 150px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

button:hover {
  background-color: #000000;
}

.nav__bar__container {
  display: flex;
  flex-direction: column;
  background-color: #323232;
}
@media (min-width: 768px) {
  .nav__bar__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
.nav__bar__container__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}
@media (min-width: 768px) {
  .nav__bar__container__title {
    padding-right: 5%;
    padding-top: 32px;
  }
}
@media (min-width: 1280px) {
  .nav__bar__container__title {
    margin-left: 5vw;
  }
}
.nav__bar__container__title--link {
  display: flex;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

.nav__bar__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
}
@media (min-width: 768px) {
  .nav__bar__list {
    align-items: center;
  }
}
.nav__bar__list-item {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .nav__bar__list-item {
    width: auto;
    padding-bottom: 25px;
    margin-right: 50px;
  }
}
.nav__bar__list-item--link {
  text-decoration: none;
  list-style: none;
  color: #afafaf;
}
.nav__bar__list-item:hover {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffffff;
}
@media (min-width: 768px) {
  .nav__bar__list-item:hover {
    width: auto;
    padding-bottom: 25px;
    margin-right: 50px;
    color: #ffffff;
  }
}

.nav__bar__list-item:hover .nav__bar__list-item--link {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

.active {
  color: #ffffff;
  font-weight: bold;
}

#active {
  border-bottom: 2px solid #ffffff;
}

.footer {
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer__container {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
.footer__title {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .footer__title {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    display: flex;
    justify-content: flex-start;
  }
}
.footer__title__text {
  padding-top: 32px;
  padding-right: 36px;
  margin-top: auto;
}
@media (min-width: 1280px) {
  .footer__title__text {
    padding-right: 105px;
  }
}
.footer__title__icon {
  display: flex;
  align-items: center;
}
.footer__title__icon-link {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .footer__title__icon-link {
    padding-top: 22px;
  }
}
.footer__title__icon-link-image {
  width: 130%;
  height: auto;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .footer__title__icon-link-image {
    width: 150%;
  }
}
@media (min-width: 768px) {
  .footer__title__logo {
    padding-top: 22px;
  }
}
.footer__main {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .footer__main {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__main {
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .footer__main__card {
    padding-right: 90px;
  }
}
.footer__main__card-text--link {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}
.footer__end {
  padding-left: 16px;
  padding-right: 16px;
}
.footer__end__title--link {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}
.footer__end__text {
  padding-bottom: 16px;
  margin-bottom: 0;
}

#top {
  display: none;
}
@media (min-width: 768px) {
  #top {
    display: flex;
    align-items: flex-end;
    padding-left: 110px;
    padding-bottom: 7px;
  }
}
@media (min-width: 1280px) {
  #top {
    padding-left: 19vw;
  }
}

#bottom {
  padding-top: 30px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #bottom {
    display: none;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__container {
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
}
.hero__container__overlay {
  width: 100%;
  height: 60vw;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  align-items: center;
}

.hero__title {
  color: #ffffff;
  margin-left: 16px;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .hero__title {
    margin-left: 52px;
    margin-right: 36px;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

.section__container {
  margin-left: 16px;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .section__container {
    margin-left: 52px;
    margin-right: 36px;
    padding-top: 25px;
  }
}
@media (min-width: 1280px) {
  .section__container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

.section__container--background {
  background-color: #fafafa;
}
.section__title {
  font-family: "AvenirNextLTPro-Demi";
  margin-top: 16px;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .section__title {
    align-self: flex-start;
  }
}

.section__box__image {
  width: 100%;
  -webkit-clip-path: inset(20% 0 0 0);
          clip-path: inset(20% 0 0 0);
  margin-top: -13%;
}
@media (min-width: 768px) {
  .section__box__image {
    -webkit-clip-path: inset(14% 0 7% 0);
            clip-path: inset(14% 0 7% 0);
    margin-top: -10%;
    margin-bottom: -4%;
  }
}
@media (min-width: 1280px) {
  .section__box__image {
    -webkit-clip-path: inset(10% 0 9.5% 0);
            clip-path: inset(10% 0 9.5% 0);
    margin-top: -6%;
  }
}

@media (min-width: 768px) {
  .section__block__container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1280px) {
  .section__quote {
    max-width: 79%;
  }
}

.section__block {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .section__block {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 768px) {
  p.section__block {
    font-size: 18px;
    line-height: 32px;
  }
}

@media (min-width: 768px) {
  .section__subtitle {
    padding-left: 10%;
    margin-top: 32px;
    margin-bottom: 1px;
  }
}

@media (min-width: 768px) {
  .section__card__holder {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
  }
}
@media (min-width: 768px) {
  .section__card__holder-card--left {
    display: flex;
    padding-right: 5%;
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .section__card__holder-card--right {
    display: flex;
    padding-left: 1%;
    padding-right: 5%;
    font-size: 16px;
  }
}

.section__gallery__container {
  padding-left: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .section__gallery__container {
    display: flex;
    flex-direction: column;
    padding-left: 52px;
    padding-top: 25px;
  }
}
@media (min-width: 1280px) {
  .section__gallery__container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 11.5vw;
    margin-right: 6vw;
  }
}

@media (min-width: 768px) {
  .section__gallery {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .section__gallery {
    width: 92%;
  }
}

@media (min-width: 768px) {
  .section__gallery-item {
    padding-bottom: 1%;
    padding-right: 2vw;
    width: 30%;
  }
}
.section__gallery-image {
  width: calc( 100% - 16px);
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .section__gallery-image {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1280px) {
  .section__gallery-image {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
  }
}

@media (hover: hover) {
  .section__gallery-image:hover {
    filter: none;
  }
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #e1e1e1;
  background-color: #fafafa;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea[type=text], select {
  width: 100%;
  padding: 18px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 2px solid #e1e1e1;
  background-color: #fafafa;
  border-radius: 4px;
  box-sizing: border-box;
}

input[class=error], textarea[class=error] {
  border: 1px solid #d22d2d;
}

.button__holder {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.section__form__holder {
  padding: 20px;
  width: 100%;
}

.section__form {
  margin-top: 20px;
  padding-top: 20px;
  padding-right: 10px;
  display: flex;
  width: 92%;
}

.section__form-logo {
  width: 36px;
  height: 36px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 12px;
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .section__form-logo {
    width: 48px;
    height: 48px;
    margin-top: 5px;
  }
}

.form__logo {
  width: 43px;
  height: 36px;
}
@media (min-width: 768px) {
  .form__logo {
    width: 48px;
    height: 48px;
  }
}

.section__form-logo__image {
  width: 56px;
  height: auto;
  margin: auto -4px;
}
@media (min-width: 768px) {
  .section__form-logo__image {
    width: 79px;
    margin: auto -6px;
  }
}

.user__name {
  color: #afafaf;
  font-weight: bold;
}

.user__comment {
  margin-top: 10px;
  color: #afafaf;
  font-weight: bold;
}

.form {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .form {
    padding-left: 24px;
    width: 100%;
  }
}

.section__comment {
  border-bottom: 3px solid #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.section__form-mainDiv {
  margin-top: 20px;
  padding-top: 12px;
  display: flex;
  width: 92%;
  border-top: 3px solid #e1e1e1;
  font-size: 16px;
}

.section__form-outerDiv {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .section__form-outerDiv {
    padding-left: 24px;
    width: 100%;
  }
}

.section__form-innerDiv {
  display: flex;
  justify-content: space-between;
}

.section__form-name {
  font-size: 16px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .section__form-name {
    font-size: 20px;
  }
}

.section__form-timeStamp {
  color: #afafaf;
  font-weight: bold;
}/*# sourceMappingURL=bio.css.map */