@use './partials/global';
@use './partials/variables';

body {
    margin: 0;
    @include global.flexColumn ();
    justify-content: center;
}

// Header - Hero
.hero__container {
    background-image: url('../assets/images/hero-shows.jpg');
    background-size: cover;
    width: 100%;
    @media (min-width: 768px) {
    
        height: 70%; 
        background-repeat: no-repeat;
        // background-position: 50px 50px;     
        clip-path: inset(85px 0 0 0);
        margin-top: -85px;
    }
    @media (min-width: 1280px) {
        height: 60vw;
        clip-path: inset(145px 0 0 0);
        margin-top: -145px;
    }
    &__overlay {
        width: 100%;
        height: 100%;  
        background-color: rgba(50, 50, 50, 0.5);
        @include global.flexColumn ();
        @media (min-width: 1280px) {
            flex-direction: row;
            align-items: center;
        }
    }
}

.hero__text {
    @media (min-width: 768px) {
        margin-left: 0vw;
    }
    @media (min-width: 1280px) {
        margin-left: -1vw;
    }

}

.hero__text--top {
    color: variables.$colorWhite;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 17px;
    font-weight: bold;
    padding-top: 25px; 
    @media (min-width: 768px) {
        margin-left: 52px;
        margin-right: 36px;
        padding-top: 120px;
        font-size: 24px;
        margin-bottom: -20px;
    }
    @media (min-width: 1280px) {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
.hero__text--bottom {
    color: variables.$colorWhite;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 31px;
    line-height: 37px;
    width: 260px;
    @media (min-width: 768px) {
        margin-left: 50px;
        margin-right: 36px;
        font-size: 61px;
        line-height: 67px;
        width: 520px;
    }
    @media (min-width: 1280px) {
        margin-left: 10vw;
        margin-right: 10vw;
        width: 475px;
    }
}
.hero__sound {
    margin-left: 0;
    padding-bottom: 16px;
    @media (min-width: 768px) {
    }
    @media (min-width: 1280px) {
        padding-top: 200px;
    }

}

.hero__sound__music {
    margin-left: 16px;
    margin-right: 16px;
    width: 90%;
    height: 140px;
    @media (min-width: 768px) {
        margin-left: 52px;
        margin-right: 36px;
        min-width: 337.5px;
        max-width: 400px;
    }
    @media (min-width: 1280px) {
        width: 400px;
    }
}

.section__container {
    // margin-left: 16px;
    // margin-right: 16px;
    padding-left: 16px;
    padding-right: 16px;
    @media (min-width: 768px) {
        margin-left: 52px;
        margin-right: 36px;
        padding-top: 25px;
    }
    @media (min-width: 1280px) {
        padding-left: 0;
        padding-right: 0;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
.section__container__transform {
    @media (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    }
}

.shows__container {
    @media (min-width: 1280px) {
        width: 83%;
    }
}
.section__title {
    font-family:  'AvenirNextLTPro-Demi';
    margin-top: 16px;
    padding-top: 16px;
    @media (min-width: 768px) {
        align-self: flex-start;
    }
}

.shows__list {
    @include global.noDecoration();
    @include global.flexColumn();
    padding-left: 0;

}

.date__div, 
.venue__div, 
.location__div,
.ticket__div {
    width: 100%;
    @media (min-width: 768px) {
        width: 20vw;
    }    
    @media (min-width: 1280px) {
        width: 20%;
    }    
}



.show__ticket {
    font-size: 14px;
    font-weight: bold;
    @media (min-width: 768px) {
        width: fit-content;
    }
}
.show__date {
    font-weight: bold;
    font-size: 16px;    
    font-family: "AvenirNextLTPro-Bold";
    @media (min-width: 768px) {
        font-size: 16px;
    }
}

.show {
    font-size: 16px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 25px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 3px solid variables.$colorMercury;
    @media (min-width: 768px) {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.show:active {
    background-color: variables.$colorMercury;
}
.show:hover {
    background-color: variables.$colorAlabaster;
}

.show__title__date,
.show__title__venue,
.show__title__location {
    color: variables.$colorSilver;
}

.hide__later {
    @media (min-width: 768px) {
        display: none;
    }
}

.keep {
    @media (min-width: 768px) {
        display: flex;
        padding-bottom: 24px;
    }
}

.keep__down {
    @media (min-width: 768px) {
        margin-top: 54px;
    }
}