@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  src: url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf");
  src: url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  src: url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "AvenirNextLTPro-Regular", "AvenirNextLTPro-Demi", "AvenirNextLTPro-Bold";
}

.hero__title {
  font-size: 24px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 68px;
  }
}

.logo {
  font-size: 32px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .logo {
    padding-left: 50px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1280px) {
  .logo {
    margin-left: 10vw;
  }
}

h1 {
  font-size: 24px;
  line-height: 32px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
}

h2 {
  font-size: 14px;
  line-height: 22px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

main {
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  main {
    font-size: 14px;
    line-height: 22px;
  }
}

footer {
  font-size: 13px;
  line-height: 18px;
}
@media (min-width: 768px) {
  footer {
    font-size: 14px;
    line-height: 20px;
  }
}

button {
  border: none;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  width: 100%;
  height: 40px;
  background-color: #323232;
  color: #ffffff;
  border-radius: 4px;
}
@media (min-width: 768px) {
  button {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    width: 150px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

button:hover {
  background-color: #000000;
}

.nav__bar__container {
  display: flex;
  flex-direction: column;
  background-color: #323232;
}
@media (min-width: 768px) {
  .nav__bar__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
.nav__bar__container__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}
@media (min-width: 768px) {
  .nav__bar__container__title {
    padding-right: 5%;
    padding-top: 32px;
  }
}
@media (min-width: 1280px) {
  .nav__bar__container__title {
    margin-left: 5vw;
  }
}
.nav__bar__container__title--link {
  display: flex;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

.nav__bar__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
}
@media (min-width: 768px) {
  .nav__bar__list {
    align-items: center;
  }
}
.nav__bar__list-item {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .nav__bar__list-item {
    width: auto;
    padding-bottom: 25px;
    margin-right: 50px;
  }
}
.nav__bar__list-item--link {
  text-decoration: none;
  list-style: none;
  color: #afafaf;
}
.nav__bar__list-item:hover {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffffff;
}
@media (min-width: 768px) {
  .nav__bar__list-item:hover {
    width: auto;
    padding-bottom: 25px;
    margin-right: 50px;
    color: #ffffff;
  }
}

.nav__bar__list-item:hover .nav__bar__list-item--link {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

.active {
  color: #ffffff;
  font-weight: bold;
}

#active {
  border-bottom: 2px solid #ffffff;
}

.footer {
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer__container {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
.footer__title {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .footer__title {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    display: flex;
    justify-content: flex-start;
  }
}
.footer__title__text {
  padding-top: 32px;
  padding-right: 36px;
  margin-top: auto;
}
@media (min-width: 1280px) {
  .footer__title__text {
    padding-right: 105px;
  }
}
.footer__title__icon {
  display: flex;
  align-items: center;
}
.footer__title__icon-link {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .footer__title__icon-link {
    padding-top: 22px;
  }
}
.footer__title__icon-link-image {
  width: 130%;
  height: auto;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .footer__title__icon-link-image {
    width: 150%;
  }
}
@media (min-width: 768px) {
  .footer__title__logo {
    padding-top: 22px;
  }
}
.footer__main {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .footer__main {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__main {
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .footer__main__card {
    padding-right: 90px;
  }
}
.footer__main__card-text--link {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}
.footer__end {
  padding-left: 16px;
  padding-right: 16px;
}
.footer__end__title--link {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}
.footer__end__text {
  padding-bottom: 16px;
  margin-bottom: 0;
}

#top {
  display: none;
}
@media (min-width: 768px) {
  #top {
    display: flex;
    align-items: flex-end;
    padding-left: 110px;
    padding-bottom: 7px;
  }
}
@media (min-width: 1280px) {
  #top {
    padding-left: 19vw;
  }
}

#bottom {
  padding-top: 30px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #bottom {
    display: none;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__container {
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  width: 100%;
}
@media (min-width: 768px) {
  .hero__container {
    height: 70%;
    background-repeat: no-repeat;
    -webkit-clip-path: inset(85px 0 0 0);
            clip-path: inset(85px 0 0 0);
    margin-top: -85px;
  }
}
@media (min-width: 1280px) {
  .hero__container {
    height: 60vw;
    -webkit-clip-path: inset(145px 0 0 0);
            clip-path: inset(145px 0 0 0);
    margin-top: -145px;
  }
}
.hero__container__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .hero__container__overlay {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .hero__text {
    margin-left: 0vw;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    margin-left: -1vw;
  }
}

.hero__text--top {
  color: #ffffff;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 17px;
  font-weight: bold;
  padding-top: 25px;
}
@media (min-width: 768px) {
  .hero__text--top {
    margin-left: 52px;
    margin-right: 36px;
    padding-top: 120px;
    font-size: 24px;
    margin-bottom: -20px;
  }
}
@media (min-width: 1280px) {
  .hero__text--top {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

.hero__text--bottom {
  color: #ffffff;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 31px;
  line-height: 37px;
  width: 260px;
}
@media (min-width: 768px) {
  .hero__text--bottom {
    margin-left: 50px;
    margin-right: 36px;
    font-size: 61px;
    line-height: 67px;
    width: 520px;
  }
}
@media (min-width: 1280px) {
  .hero__text--bottom {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 475px;
  }
}

.hero__sound {
  margin-left: 0;
  padding-bottom: 16px;
}
@media (min-width: 1280px) {
  .hero__sound {
    padding-top: 200px;
  }
}

.hero__sound__music {
  margin-left: 16px;
  margin-right: 16px;
  width: 90%;
  height: 140px;
}
@media (min-width: 768px) {
  .hero__sound__music {
    margin-left: 52px;
    margin-right: 36px;
    min-width: 337.5px;
    max-width: 400px;
  }
}
@media (min-width: 1280px) {
  .hero__sound__music {
    width: 400px;
  }
}

.section__container {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .section__container {
    margin-left: 52px;
    margin-right: 36px;
    padding-top: 25px;
  }
}
@media (min-width: 1280px) {
  .section__container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media (min-width: 1280px) {
  .section__container__transform {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .shows__container {
    width: 83%;
  }
}

.section__title {
  font-family: "AvenirNextLTPro-Demi";
  margin-top: 16px;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .section__title {
    align-self: flex-start;
  }
}

.shows__list {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.title__div {
  display: none;
}
@media (min-width: 768px) {
  .title__div {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 31px;
    padding-bottom: 10px;
  }
}

.show__title,
.date__div,
.venue__div,
.location__div,
.ticket__div {
  width: 100%;
}
@media (min-width: 768px) {
  .show__title,
.date__div,
.venue__div,
.location__div,
.ticket__div {
    width: 20vw;
  }
}
@media (min-width: 1280px) {
  .show__title,
.date__div,
.venue__div,
.location__div,
.ticket__div {
    width: 20%;
  }
}

.show__title__date,
.show__title__venue,
.show__title__location {
  color: #afafaf;
}

@media (min-width: 768px) {
  .hide__later {
    display: none;
  }
}

.show__ticket {
  font-size: 14px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .show__ticket {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.show__date {
  font-weight: bold;
  font-size: 16px;
  font-family: "AvenirNextLTPro-Bold";
}
@media (min-width: 768px) {
  .show__date {
    font-size: 16px;
  }
}

.show {
  font-size: 16px;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 25px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 3px solid #e1e1e1;
}
@media (min-width: 768px) {
  .show {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.show:hover {
  background-color: #fafafa;
}

.show:active {
  background-color: #e1e1e1;
}/*# sourceMappingURL=shows.css.map */